{% extends 'news/base.html' %}
{% load static %}

{% block title %}{{ miner.name }}{% endblock title %}

{% block content %}
<h2>{{ miner.name }}</h2>
<p>{{ miner.info }}</p><hr>

    <p>{{ miner.condition_text }}</p>
    <p>Высота цветка {{ heignt }}</p>

    {% if form %}
        <form method="post" action="{% url 'miner_add' %}">
            {% csrf_token %}
            <input type="number" id="user_height" name="user_height" placeholder="Высота среза">
            <input type="hidden" id="sys_height" name="sys_height" value="{{ heignt }}">

        </form>
        <button id="miner_get_button">Срезать</button>
    {% endif %}
    <div id="miner_message"></div>


{% endblock content %}

{% block add_script %}
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "news/js/main.js" %}"></script>

{% endblock add_script %}
