{% extends 'news/base.html' %}
{% block title %}{{ miner.name }}{% endblock title %}

{% block content %}
    <hr>
<h2>{{ miner.name }}</h2>
<p>{{ miner.info }}</p>

    <p>{{ miner.condition_text }}</p>
    {% if text %}
        <p>{{ text }}</p>
    {% else %}
        <p>Высота цветка {{ heignt }}</p>
    {% endif %}

    {% if form %}
        <form method="post" action='#'>
            {% csrf_token %}

            <input type="number" name="user_height" placeholder="Высота среза">
            <input type="hidden" name="sys_height" value="{{ heignt }}">
            <button type="submit">Срезать</button>
        </form>

    {% endif %}
{% endblock content %}